@{
    ViewData["Title"] = "Website Feedback";
}

<div class="embed-responsive" style="min-height:800px;">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdCTM6dVqljko5RylDhEQuzpJ_XsT_ndeWFsjLr5EmvWRy6VQ/viewform"
            width="100%" height="900" frameborder="0" marginheight="0" marginwidth="0">
        Loading…
    </iframe>
</div>
